<nav class="navbar">
    <ul class="links">
        <li><a class="link" href="/">Home</a></li>
        
        {%if user.is_authenticated%}

         <li><a class="link" href="/auth/logout/">{{user.username}}</a></li>
         <li><a  class="link" href="/cart">Carrito({{user.cart.products.all.count}})</a></li>
        {%else%}

            <li><a class="link" href="/auth/login/">Inicio de sesion</a></li>
            <li><a class="link" href="/auth/signup/">Registrarce</a></li>

        {%endif%}

    </ul>
</nav>